/*!
Theme Name: IIP Theme
Theme URI: http://jonas95.com/
Author: Jonas Tamosevicius
Author URI: http://jonas95.com/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: simonas
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Simonas is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

@import url("https://fonts.googleapis.com/css?family=Lato:300i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff&display=swap");
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
  font-family: HelveticaNeue, sans-serif;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}
.avatar-section {
  display: flex;
}

.avatar {
  margin-right: 12px;
  display: flex;
  height: 37px;
  width: 37px;
  border-radius: 50%;
}
.avatar-inner {
  display: flex;
  flex-direction: column;
}
.header-popular {
  min-height: 500px;
}
.readTime {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
  color: #404040;
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

p {
  margin-bottom: 1.5em;
  font-family: HelveticaNeue-light;
  word-break: break-all;
  letter-spacing: 0.32px;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

ul,
ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

figure {
  margin: 1em 0;
  /* Extra wide images within figure tags don't overflow the content area. */
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: 0.6em 1em 0.4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa;
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
  border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #111;
}

select {
  border: 1px solid #ccc;
}

textarea {
  width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
#header-text {
  background-image: linear-gradient(to bottom, #507cc0, #112b53);
  height: 57px;
  justify-content: center;
}

#nav-search {
  position: relative;
}
#nav-search i:hover {
  cursor: pointer;
}

#nav-search .search-form {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0;
  transition: 0.4s;
}

#banner-text {
  font-family: "Lato", sans-serif;
  text-align: center;
  line-height: 57px;
  display: flex;
  justify-content: center;
  color: #fff;
}

#banner-text a {
  font-weight: 300;
  color: #fff;
  padding-right: 15px;
  padding-left: 15px;
}

#masthead {
  background-color: #fff;
}
#header-banner {
  display: block;
  width: 100%;
}

#site-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  padding: 38px 0px;
}

#primary {
  grid-column: 1 / 3;
}

#primary-menu {
  display: flex;
  flex: 3;
}
#primary-menu a {
  text-transform: uppercase;
}
#primary-menu .nav-menu {
  display: flex;
  justify-content: center;
}

#social li {
  padding: 0px 10px;
}
#social li::before {
  font-size: 17px;
}
#social a {
  display: none;
}

.nav-menu {
  display: flex;
  justify-content: center;
  flex: 1;
}
.nav-menu li {
  margin: 0px 16px;
}
.nav-menu li a {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 5.29px;
  color: #223f6c;
}

.nav-menu li a:hover {
  color: #3583c5;
}

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: royalblue;
}

a:visited {
  color: purple;
}

a:hover,
a:focus,
a:active {
  color: midnightblue;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 100%;
  left: -999em;
  z-index: 99999;
}

.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
  left: 100%;
}

.main-navigation ul ul a {
  width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto;
}

.main-navigation li {
  position: relative;
}

.main-navigation a {
  display: block;
  text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}
/*--------------------------------------------------------------
# Header image
--------------------------------------------------------------*/

.rect {
  display: flex;
  color: #fff;
  bottom: 0;
  width: 100%;
  background: rgba(10, 35, 69, 0);
  background: -moz-linear-gradient(
    top,
    rgba(10, 35, 69, 0) 0%,
    rgba(0, 50, 115, 0) 0%,
    rgba(5, 21, 46, 0.86) 23%,
    rgba(5, 20, 43, 0.86) 24%,
    rgba(4, 22, 49, 0.95) 70%,
    rgba(3, 23, 53, 0.95) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(10, 35, 69, 0)),
    color-stop(0%, rgba(0, 50, 115, 0)),
    color-stop(23%, rgba(5, 21, 46, 0.86)),
    color-stop(24%, rgba(5, 20, 43, 0.86)),
    color-stop(70%, rgba(4, 22, 49, 0.95)),
    color-stop(100%, rgba(3, 23, 53, 0.95))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(10, 35, 69, 0) 0%,
    rgba(0, 50, 115, 0) 0%,
    rgba(5, 21, 46, 0.86) 23%,
    rgba(5, 20, 43, 0.86) 24%,
    rgba(4, 22, 49, 0.95) 70%,
    rgba(3, 23, 53, 0.95) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(10, 35, 69, 0) 0%,
    rgba(0, 50, 115, 0) 0%,
    rgba(5, 21, 46, 0.86) 23%,
    rgba(5, 20, 43, 0.86) 24%,
    rgba(4, 22, 49, 0.95) 70%,
    rgba(3, 23, 53, 0.95) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(10, 35, 69, 0) 0%,
    rgba(0, 50, 115, 0) 0%,
    rgba(5, 21, 46, 0.86) 23%,
    rgba(5, 20, 43, 0.86) 24%,
    rgba(4, 22, 49, 0.95) 70%,
    rgba(3, 23, 53, 0.95) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(10, 35, 69, 0) 0%,
    rgba(0, 50, 115, 0) 0%,
    rgba(5, 21, 46, 0.86) 23%,
    rgba(5, 20, 43, 0.86) 24%,
    rgba(4, 22, 49, 0.95) 70%,
    rgba(3, 23, 53, 0.95) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a2345', endColorstr='#031735', GradientType=0 );
  pointer-events: none;
}

.rect-inside {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 12px;
  width: 100%;
}
.rect-inside h2 {
  margin-bottom: 0px;
  font-size: 22px;
}
.rect-inside h1 {
  font-size: 40px;
}
.rect-inside small {
  font-weight: bold;
  font-size: 12px;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

#header-excerpt {
  margin: 0px;
  padding: 0px;
}

#header-excerpt p {
  margin: 0;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */
}

.widget select {
  max-width: 100%;
}
.widget-title {
  font-family: HelveticaNeue;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 5px;
  color: #2b2b2b;
  position: relative;
  overflow: hidden;
}
.widget-title::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  height: 2px;
  width: 100%;
  margin-left: 20px;
  background-color: #d8d8d8;
}

#secondary {
  margin-left: 34px;
  margin-top: 30px;
}

.list-popular {
  display: flex;
}

.popular-image {
}
.popular-image img {
  border-radius: 50%;
  width: 115px;
  height: 115px;
  margin-right: 18px;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
#content {
  position: relative;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1280px;
  margin: 0 auto;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/

#popular-post {
  position: relative;
  height: 520px !important;
}
#popular-post > div {
  position: absolute;
  width: 100%;
  height: 280px;
  bottom: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(10, 33, 69, 0),
    rgba(9, 29, 60, 0.75) 26%,
    #031735
  );
}

.sticky {
  display: block;
}

.post,
.page {
  margin: 0 0 1.5em;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.wp-caption-text {
  text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-caption {
  display: block;
}
.menu-main-container {
  flex: 1;
}
.menu-main-container ul {
  justify-content: space-around;
}
/*--------------------------------------------------------------
## Media queries
--------------------------------------------------------------*/
@media only screen and (max-width: 600px) {
  #site-navigation {
    background-color: #0b263a;
  }
}
.simonas-footer {
  background-image: linear-gradient(178deg, #507cc0, #142b4e);
}
.somonas-footer_copyrights {
  padding-top: 21px;
  padding-bottom: 21px;
  display: flex;
  justify-content: space-evenly;
}
.somonas-footer_copyrights p {
  margin: 0;
}
.copyrights-inside {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright-text {
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.footer-menu {
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.79;
  letter-spacing: 0.41px;
  color: #ffffff;
  padding: 0;
  margin: 0;
}
.simonas-post_header {
  font-family: HelveticaNeue;
  font-size: 45px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #071c2c;
  grid-column-start: 1;
  grid-column-end: span 3;
  margin: 15px 0;
}
.post-thumbnail img {
  height: 457px;
  object-fit: contain;
}
.entry-meta {
  display: flex;
  border-top: solid 0.5px #071c2c;
  border-bottom: solid 0.5px #071c2c;
  padding: 7px 0;
  justify-content: space-between;
  align-items: center;
}
.entry-meta a {
  font-family: Lato;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.08px;
  color: #071c2c;
  text-decoration: none;
}
.entry-meta .post-categories {
  font-family: PlayfairDisplay;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #071c2c;
}
.entry-content {
  font-family: HelveticaNeue;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: 0.56px;
  text-align: justify;
  color: #071c2c;
}
.entry-expert {
  font-family: HelveticaNeue;
  font-size: 19px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.32;
  letter-spacing: 0.59px;
  text-align: justify;
  color: #071d2c;
  margin-bottom: 0;
}
#masthead {
  height: 538px;
  position: relative;
}
#masthead a {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-popular {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.entry-expert::first-letter {
  font-size: 4em;
  float: left;
}
.header-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-image img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.entry-header {
  position: relative;
  height: 316px;
}
.entry-header .rect {
  height: 45%;
}
.front-page-expert {
  position: absolute;
  font-family: HelveticaNeue;
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: white;
  display: block;
  bottom: 0;
  z-index: 100;
  margin: 10px;
  padding: 0 23px;
  pointer-events: none;
}
.entry-header .post-thumbnail,
.entry-header .post-thumbnail img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.entry-header .post-thumbnail img {
  width: 100%;
  height: 100%;
}
.front-page-categories {
  position: absolute;
  z-index: 100;
  left: 8px;
  top: 4px;
}
.front-page-categories a {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.63);
  font-family: PlayfairDisplay;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;

  letter-spacing: normal;
  color: #ffffff;
  text-decoration: none;
}
.front-page-categories a:hover {
  color: #ffffff;
  cursor: pointer;
}
.front-page-categories a:visited {
  color: #ffffff;
}
.front-content {
  border-radius: 3px;
  border: solid 1px #e8e8e8;
  padding: 16px;
  text-align: justify;
}
.front-read-more {
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.12px;
  color: #494848;
}
.front-read-more:hover {
  color: #494848;
}
.fa-arrow-right {
  font-weight: lighter;
  margin-left: 10px;
}
.header-styling_category {
  font-family: PlayfairDisplay;
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.front-posts {
  margin-top: 40px;
}
.content-margin {
  margin-top: 7px;
}
.header-fix {
  grid-column: 1/4;
}
.avatar-section_text {
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #494848;
  display: flex;
  align-items: center;
}
.widget_simonas_popular_posts aside {
  flex: 2;
}
.widget_simonas_popular_posts .popular-image {
  height: 115px;
  width: 115px;
}
.widget_simonas_popular_posts .popular-image img {
  height: 115px;
  width: 115px;
  object-fit: cover !important;
}
.popular-image {
  display: flex;
  align-items: center;
}
.widget_simonas_popular_posts aside,
.widget_simonas_recent_posts aside {
  display: flex;
  align-items: center;
  margin-left: 13.4px;
}
.widget_simonas_popular_posts aside p,
.widget_simonas_recent_posts aside p {
  font-family: HelveticaNeue;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #494848;
  margin: 0;
  flex: 2;
  text-decoration: none;
}
.widget_simonas_popular_posts small,
.widget_simonas_recent_posts small {
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 5.6px;
}

.widget_simonas_popular_posts a,
.widget_simonas_recent_posts a {
  text-decoration: none;
}
.list-popular {
  margin-top: 35px;
}
.custom-adds {
  margin-top: 20px;
}
.allcatagories {
  margin-top: 20px;
}
.allcatagories ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.allcatagories li a {
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.63;
  letter-spacing: normal;
  color: #000000;
  text-decoration: none;
}
.liked-article_text {
  font-family: HelveticaNeue;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 5px;
  color: #071c2c;
}
.other-stories {
  display: flex;
  justify-content: center;
  align-items: center;
}
.other-stories {
  flex-grow: 1;
}
.other-stories a {
  margin: 0;
  font-family: HelveticaNeue;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 5px;
  color: #2b2b2b;
  text-decoration: none;
}
.other-stories .line {
  display: block;
  height: 1px;
  background-color: #d8d8d8;
  width: auto;
  flex-grow: 2;
}
.other-stories_headers {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
}
.other-stories_headers a {
  width: 50%;
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #123147;
  text-decoration: none;
}
.other-stories_headers a:nth-child(2) {
  text-align: right;
}
.fb-comments {
  border: 1px solid #d8d8d8;
}
.container {
  column-gap: 34px;
}
.related_posts-title {
  font-family: HelveticaNeue;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #071c2c;
  text-decoration: none;
  margin-top: 12px;
  width: 100%;
}
.related_posts-title:visited {
  color: #071c2c;
}
.related_posts-author {
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #071c2c;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 36px;
}
.related_posts-author p {
  margin: 0;
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #071c2c;
}
.related_posts-author a {
  text-decoration: none;
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #071c2c;
}
.related_posts-author span {
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #071c2c;
}
.related_posts-author a:visited {
  color: #071c2c;
}
.related_posts-image {
  min-height: 263px;
  align-self: flex-end;
  cursor: pointer;
}
.related_posts-inner {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
.related_posts-image img {
  width: 100%;
  height: 263px !important;
  object-fit: contain;
}
.related_posts-tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 18px;
  align-content: space-around;
  justify-content: flex-start;
  margin-bottom: 12px;
}
.related_posts-tags a {
  display: block;
  padding: 12.5px 6.4px;
  font-family: HelveticaNeue;
  font-size: 11px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 5px;
  text-align: center;
  text-decoration: none;
  background-color: #f7f6f6;
  margin-top: 17px;
  text-transform: uppercase;
  color: #071c2c;
}
.related_posts-tags a:visited {
  color: #071c2c;
}
.spaceintags {
  margin-left: 18px;

  text-transform: uppercase;
}
.related_posts {
  display: flex;
  align-items: flex-end;
}

.social-icons {
  display: flex;
}
.icon-item img {
  margin-right: 11px;
  height: 24px;
  width: 24px;
}

#mobile-search {
  display: none;
}

.mobile-copyright {
  display: none;
}

.mobile-header {
  display: none;
}

.site {
  overflow: hidden;
}
.mobile-side-bar {
  display: none;
  margin-top: 54px;
  margin-bottom: 20px;
}

@media screen and (min-width: 50em) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .attachment-post-thumbnail {
    border-radius: 5px !important;
  }
  .rect {
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
  }
  .mobile_nav-footer img {
    filter: brightness(0) invert(1);
    height: 23px;
    width: auto;
  }
  .mobile-side-bar {
    display: block;
  }
  .menu-main-container {
    height: 60vh;
    overflow-y: scroll;
  }
  .hidden {
    display: none;
  }

  #logo {
    display: none;
  }

  #header-text {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10000;
    display: flex;
    flex: 1;
  }

  #banner-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
    line-height: 0px;
    font-size: 13px;
  }

  #banner-text a {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  header.mobile {
    display: block;
    position: fixed;
    background: #f7f6f6;
    top: 57px;
    z-index: 10000;
    width: 100%;
    height: auto;
    transition: 0.2s;
    overflow: hidden;
  }
  .mobile_nav-footer {
    position: absolute;
    bottom: 0;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    width: 100%;
    position: fixed;
    background-color: #0b263a;
    z-index: 1000;
  }

  button > * {
    pointer-events: none;
  }

  .mobile-header {
    padding: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    margin: 17px 0px;
  }

  #site-navigation {
    background: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    flex: 1;
    transition: 0.2s;
  }

  .none {
    display: none !important;
  }
  #site-navigation .menu-main-container {
    flex: 0;
    width: 100%;
  }

  #site-navigation #primary-menu {
    display: flex;
    flex-direction: column;
  }

  #site-navigation #primary-menu li {
    border-bottom: 2px solid #071c2c;
    text-align: center;
    margin: 0px;
  }
  #site-navigation #primary-menu a {
    color: #fff !important;
    padding: 25px 0px;
  }

  #mobile-search {
    display: flex;
    width: 100%;
    align-items: center;
  }
  #mobile-search .search-form {
    display: flex;
    flex: 1;
    justify-content: center;
  }

  #mobile-search .search-form label {
    padding: 0px 20px;
    display: flex;
    flex: 1;
    justify-content: center;
  }

  #mobile-search .search-form label input {
    display: flex;
    flex: 1;
    height: 45px;
    position: relative;
    margin-bottom: 32px;
  }

  #mobile-search .search-form label input::placeholder {
    color: #fff !important;
  }

  #mobile-search .search-form label input::before {
    display: block;
    content: "";
    width: 50px;
    height: 50px;
    background: blue;
    z-index: 10000000;
  }

  #mobile-search .search-submit {
    display: none;
  }

  #search-icon-head {
    position: absolute;
    top: 10px;
    width: 25px;
    height: 25px;
    right: 30px;
  }
  .social-icons {
    margin-top: 32px;
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  .icon-item img {
    width: 25px;
  }

  .invert-color {
    filter: brightness(0) invert(1);
  }

  .active {
    border: none;
    background: #071c2c;
  }

  .menu-toggle {
    background: none;
    border: none;
    color: #fff;
    font-weight: lighter;
    font-size: 45px;
    padding: 0px;
  }

  .toggled {
    width: 0% !important;
  }

  #nav-search {
    display: none;
  }
  .search-field {
    color: #fff;
    background: none;
    border-radius: 3px;
    border: 1px solid #f7f6f6;
  }

  .search-field {
    color: #fff !important;
    border: 1px solid #fff !important;
  }

  .mobile-copyright {
    text-align: center;
    display: block;
    margin: 17px 0;
  }
}
.single-post_entryHeader {
  height: auto;
}
.paragraph-styling p {
  padding: 10px 0;
  margin: 0;
}
.paragraph-styling {
  margin-top: 13px;
}
.single-page_styling .entry-content {
  margin: 0;
}
.dateandtime {
  display: flex;
}
.dateandtime .readTime {
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.08px;
  color: #071c2c;
  margin-right: 16px;
}
.authorBox-Box {
  display: block;
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  padding: 30px;
  margin-bottom: 30px;
}
.authorBox {
  display: none;
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  padding: 30px;
}
.authorBox-image img {
  width: 100px;
  height: 100px;
}
.authorBox-name h2 {
  color: #000000;
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 0;
}
.authorBox-position h3 {
  font-size: 14px;
  color: #dadada;
  margin-top: 0;
  font-weight: 700;
}
.authorBox-signature {
  font-family: "Herr Von Muellerhoff", cursive;
  font-size: 42px;
  margin-top: 10px;
}
.widget_categories ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.widget_categories li {
  display: block;
  width: 100%;
}
.widget_categories li a {
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.63;
  letter-spacing: normal;
  color: #000000;
  text-decoration: none;
}
.widget_categories li:not(:last-child) {
  border-bottom: 1px solid #d8d8d8;
}
.footer-menu div {
  width: 100%;
}
.footer-menu div ul {
  list-style-type: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.footer-menu div ul li {
  margin-left: 10px;
}
.footer-menu div ul li:first-child {
  margin-left: 0;
}
.footer-menu div ul li {
  display: inline;
}
.footer-menu div ul li a {
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: lighter !important;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.79;
  letter-spacing: 0.41px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.social-footer * {
  display: inline-block;
}
.social-footer {
  display: flex;
  align-items: center;
  margin: 0 35.5px;
}
.social-footer h2 {
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 6.36px;
  text-align: center;
  color: #ffffff;
  display: flex;
  align-items: center;
  order: 1;
  margin-left: 9px;
}
.footer_icons {
  display: flex;
  justify-content: center;
  padding: 26px 0;
}
.dpsp-network-btn {
  background-color: #f7f6f6 !important;
  border-color: #f7f6f6 !important;
}
.dpsp-network-icon {
  background-color: #f7f6f6 !important;
  border-color: #f7f6f6 !important;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
}
.dpsp-network-label {
  font-family: Helvetica !important;
  font-size: 11px !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: normal !important;
  letter-spacing: 5px !important;
  text-align: center !important;
  color: #071c2c !important;
}
.entry-content h4 {
  font-family: HelveticaNeue;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 5px;
  color: #071c2c;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 39px;
}
.dpsp-content-bottom {
  margin-top: 11px !important;
}

.front-page-exper_show {
  display: none;
}
.content-margin-show {
  display: none;
}
.post-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dpsp-column-6.dpsp-has-spacing .dpsp-networks-btns-wrapper li {
  width: auto;
}
.related_posts-image img {
  object-fit: cover;
}
.related_posts {
  align-items: flex-start;
  margin-bottom: 40px;
}
#load_more-postsButton {
  background-color: white;
  border: none;
  cursor: pointer;
  font-family: Lato;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 3.65px;
  text-align: center;
  color: #494848;
  text-transform: uppercase;
  border-radius: none;
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px solid #494848;
  margin: 0 auto;
  margin-bottom: 74px;
  margin-top: 43px;
}
article {
  transition: opacity 1s ease-out;
}
.social-footer h2 {
  cursor: pointer;
}

.for-single {
  background: white;
  padding: 14px 0;
}
.for-single .widgettitle {
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 6.36px;
  text-align: center;
  color: #071c2c;
}
.for-single .social-footer img {
  -webkit-filter: invert(100%); /* Safari 6.0 - 9.0 */
  filter: invert(100%);
}
.sidebar-mobile {
  display: none;
}
@media only screen and (max-width: 768px) {
  .entry-title,
  .simonas-post_header {
    font-size: 20px;
  }
  .sidebar-mobile {
    display: block;
  }
  .sidebar-mobile #secondary {
    display: block !important;
  }
  .sidebar-mobile #secondary {
    display: block !important;
    margin-left: 0 !important;
  }
  .sidebar-mobile #secondary .widget {
    display: none;
  }
  .sidebar-mobile #secondary .widget_custom_html {
    display: block;
  }
  .readTime small {
    font-size: 75%;
  }
  .readTime i {
    padding-right: 3px !important;
  }
  #opensvg {
    height: 30px;
  }
  #closesvg {
    height: 30px;
  }
  .custom-logo-link {
    width: 126px;
    height: 26px;
  }
  .custom-logo-link img {
    height: 100%;
  }
  article {
    margin-bottom: 26px;
  }
  .authorBox {
    display: block;
    margin-top: 16px;
  }
  .entry-expert {
    padding-top: 30px;
  }
  .container {
    max-width: 90%;
  }
  #masthead {
    display: none;
  }
  #secondary {
    display: none;
  }
  #primary {
    grid-column: 1 / 4;
  }
  .front-read-more {
    display: none;
  }
  .entry-header,
  .front-posts {
    border-radius: 3px;
    margin-top: 11px;
  }
  .front-page-expert {
    display: none;
  }
  .front-page-categories {
    bottom: 6px;
    top: auto;
  }
  .rect {
    height: 47px;
    background-image: linear-gradient(
      to bottom,
      rgba(10, 33, 69, 0),
      rgba(9, 29, 60, 0.75) 26%,
      #031735
    );
  }
  .front-page-exper_show {
    display: block;
    margin-bottom: 0;

    position: relative;
    font-family: HelveticaNeue;
    font-size: 19px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.32;
    letter-spacing: normal;
    color: #071c2c;
    margin-left: 0;
    padding: 0;
  }
  .content-margin {
    display: none;
  }
  .content-margin-show {
    display: block;
  }
  .front-conent {
    padding-bottom: 0;
  }
  .social-footer h2 {
    display: none;
  }
  .social-footer a {
    height: 16px;
  }
  .social-footer img {
    height: 16px;
    width: auto;
  }
  .somonas-footer_copyrights {
    flex-wrap: wrap;
  }
  .copyright-text {
    width: 100%;
    order: 1;
    text-align: center;
    padding: 0 2%;
    margin-top: 28px;
    font-size: 10px;
  }
  .footer-menu {
    width: 100%;

    order: 0;
  }
  .footer-menu #menu-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    font-family: HelveticaNeue;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.67;
    letter-spacing: 0.44px;
    text-align: center;
    color: #ffffff;
  }

  .related_posts {
    grid-column: 1/4;
  }
  .related_posts-image {
    margin-top: 13px;
  }
  #content {
    margin-top: 150px;
  }
  .dpsp-network-btn {
    padding-right: 0 !important;
  }
  .dpsp-network-label-wrapper {
    display: none !important;
  }
  .next-story_mobile {
    background-color: #f7f6f6;
    padding: 15px 0;
    margin-bottom: 35px !important;
  }

  .mobile_slicer {
    display: block;
    height: 1px;
    background-color: #d8d8d8;
    width: 100%;
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .other-stories .line {
    display: none;
  }
  .other-stories {
    justify-content: space-between;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 782px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1280px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
.main-navigation a:visited {
  color: #223f6c !important;
}

.active {
  color: #3583c5 !important;
  font-weight: bold;
  border-bottom: 2px solid #3583c5;
}

#nav-search input[type="submit"]::before {
  background: url("\f002") no-repeat center center;
  background-size: 100% auto;
  left: 0;
  top: 0;
  width: 2rem;
}

input[type="submit"] {
  background-image: linear-gradient(to bottom, #5ba3e7, #3072b0);
  color: #fff;
  border-radius: 0px;
  border: none;
}

#submit-btn {
  background-image: linear-gradient(to bottom, #5ba3e7, #3072b0);
  color: #fff;
  border: none;
}

@font-face {
  font-family: HelveticaNeue;
  src: url(./fonts/HelveticaNeue-Medium.woff);
}

@font-face {
  font-family: HelveticaNeue-light;
  src: url(./fonts/HelveticaNeue-Light.woff);
}

.popular-image img {
  object-fit: cover;
}

.icon-item img {
  min-height: 23px;
  max-height: 24px;
  width: auto;
}

.navigation,
.posts-navigation {
  display: none !important;
}

#primary-menu .active a {
  color: #3583c5 !important;
}

@media only screen and (max-width: 550px) {
  .entry-meta {
    flex-wrap: wrap !important;
  }
  .entry-meta .dateandtime {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .entry-meta .readTime {
    flex: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

@media only screen and (max-width: 570px) {
  .avatar-section_text {
    font-family: HelveticaNeue;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #494848;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .avatar-section .avatar {
    margin-right: 12px;
    display: flex;
    height: 37px;
    display: none;
    width: 37px;
    border-radius: 50%;
  }
  .avatar-section .avatar-inner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .avatar-section .readTime {
    flex: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5px;
  }
}

.paragraph-styling p {
  word-break: normal !important;
}
